.menu {
    background-color:black;
    animation: gradient 5s linear infinite;
    
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:white
    
}

li {
    cursor: pointer;   
}

a {
    text-decoration: none;
    
}

.navlink {
    color: white;    
}

.activeLink {
    font-weight: bold;
    font-size: 120%;
    color: #07c5fa;
    border: 1px solid #07c5fa;
    padding:10px
}