.menu {
    background-color: rgb(32, 32, 29);
    
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:white
    
}

li {
    cursor: pointer;
   
}

a {
    text-decoration: none;
    
}

.navlink {
    color: white;    
}